.root {
  & [data-active='true'] {
    background-color: var(--color-turquoise);
  }
}

.control {
  border: none;
  border-radius: var(--radius-xs);
  width: 27px;
  height: 27px;
  margin: 0 var(--spacing-xs);
  font-size: 14px;
}
