.root {
}

.table {
  border-bottom: 1px solid var(--color-gray300);
}

.thead {
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  border-top: 1px solid var(--color-gray300);
}

.tbody {
  height: 44px;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  border: none;
}

.tr {
}

.td {
}

.th {
}
